/* Universal styles */
@font-face {
    font-family: 'Droid Sans';
    src: url('../assets/DroidSans.ttf') format('truetype');
  }

* {
    font-size: 14px;
    /* border: 1px solid black; */
}

::placeholder {
    color: rgb(181, 181, 181);
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Droid Sans', sans-serif;
}

/* Header styles */

        /* header top */

header {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 34px;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.header-left {
    display: flex;
    color: #f45800;
    align-items: center;
}

.logo {
    font-family: serif;
    font-size: 2.5rem;
    padding-right: 25px;
}

form {
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 35px;
}

#search-field {
    flex-grow: 2;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 3px;
    outline: 0;
    padding: 7px 0;
}

#btn-search {
    background: #f56400;
    width: 80px;
    outline: 0;
    margin-left: -81px;
    padding: 8px 0;
    color: #FFF;
    border: transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.account {
    display: flex;
}

.account li a {
    color: #f56400;
    padding: 0 10px;
    text-decoration: none;
}

#sign-in {
    border: 1px solid #f56400;
    border-radius: 3px;
    padding: 7px 9px;
}

#cart {
    position: relative;
    top: 16px;
    margin-left:8px;
    color: #888;
}

#cart:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../assets/cart.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    top: -26px;
    left: 13px;
}

#cart:after {
    content: '';
    position: absolute;
    border-left: 1px solid rgb(211, 211, 211);
    height: 44px;
    top: -28px;
    right: 44px;
}

        /* header nav */

nav {
    display: flex;
    justify-content: center;
    height: 40px;
    border-bottom: 1px solid rgb(182, 181, 181);
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-item {
    display: block;
    border-bottom: 3px solid transparent;
}

.nav-item a {
    display: flex;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px 10px;
    color: rgb(96, 96, 96);
}

.nav-item:hover {
    border-bottom: 3px solid #F56400;
}

        /* guided nav buttons */

.guided-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 9px 0 9px 28px;
    height: 60px;
    width: 100%;
}

.guided-search-button {
    background-color: rgb(250, 181, 117);
    border: 1px solid rgb(214, 143, 76);
    padding: 10px 13px;
    margin: 0 5px;
    border-radius: 3px;
}

.guided-search-button a {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 0.8rem;
}

.lighter {
    background-color: rgb(253, 206, 161);
}

/* products styles */

.product-wrapper {
    display: flex;
}

        /* sidebar styles */

.sidebar {
    display: flex;
    margin-left: 32px;
    margin-right: 10px;
    color: rgb(181, 181, 181);
    font-size: 0.8rem;
    width: 15%;
    height: 1756px;
    border: 1px solid rgb(181, 181, 181);
    border-radius:  3px;
}

#sidebar-form {
    display: flex;
    flex-direction: column;
}

#sidebar-form div {
    padding: 10px;
    margin: 0 5px;
    border-bottom: 1px solid rgb(181, 181, 181);
}

.sidebar a {
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(96, 96, 96);
}

.sidebar-button {
    padding-top: 5px;
    border: none;
    color: #F56400;
}

.sidebar li {
    padding: 5px 0 0 10px;
}

.sidebar-search-bars {
    width: 133px;
    outline: 0;
    padding: 10px 0 10px 5px;
    margin-left: 17px;
    border: 1px solid  rgb(181, 181, 181);
    border-radius: 3px;
}

.color input {
    border: none;
}

#btn-location {
    width: 22px;
    border: 1px solid rgb(181, 181, 181);
    border-radius:  3px;
    position: relative;
    top: -6px;
    padding: 18.5px;
}

#btn-location:before {
    position: absolute;
    content: '';
    top: 10.5px;
    right: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgb(181, 181, 181);
}

.ship-to {
    border-bottom: none;
}

.ship-to li {
    padding-left: 0px;
}

.price-search-bars {
    outline: 0;
    width: 53px;
    margin-left: 19px;
    padding: 10px 0 10px 5px;
    border: 1px solid  rgb(181, 181, 181);
    border-radius:  3px;
}

.bar1 {
    margin-right: 2px;
}

.bar2 {
    margin-left: 0px;
}

select {
    height: 35px;
    width: 100%;
    color: rgb(181, 181,181);
}

        /* product feed styles */

.item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.results-count {
    margin-left: 20px;
    width: 95%;
    font-size: 0.8rem;
    padding: 5px 0 10px 0;
}

.product-results-feed {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 99%;
}

.product-item-wrapper {
    position: relative;
    width: 23%;
    padding-bottom: 30px;
}

.product-item-wrapper a {
    text-decoration: none;
    color:  rgb(181, 181, 181);
}

.item-image {
    position: relative;
    width: 100%;
    border-radius: 3px;
    transition:box-shadow 200ms;
}

.item-image:hover {
    box-shadow: 2px 1px 5px 2px rgb(181, 181, 181);
}

.product-item-wrapper:hover::before {
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-image: url(../assets/heart.png);
    z-index: 10;
}

.product-name {
    font-size: 0.8rem;
    color: rgb(96, 96, 96);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 7px 0;
}

.product-maker {
    font-size: 0.7rem;
    padding-bottom: 5px;
}

.product-rating {
    display:  flex;
    font-size: 0.7rem;
    padding-bottom: 5px;
}

.favorers {
    padding: 5px;
}

.product-price {
    font-size: 0.9rem;
    color: rgb(96, 96, 96);
    padding-bottom: 5px;
}

        /* star rating */

.rating {
    overflow: hidden;
    display: inline-block;
}

.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating-star,
.rating:hover .rating-star {
    cursor: pointer;
    position: relative;
    float: right;
    display: block;
    width: 14px;
    height: 15px;
    background: url('../assets/empty_star.png') 0 -16px;
    background-size: cover;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
    background: url('../assets/full_star.png') 0 -16px;
    background-size: cover;
}

        /* related items section */

#related-items {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top:  30px;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

#related-tags-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left:20%;
    max-height: 200px;
}

.related-tag {
    display: flex;
    align-items: center;
    flex-wrap:  wrap;
    padding:  5px 10px;
    font-size: 0.8rem;
    color: rgb(181, 181, 181);
}

.recently-viewed-container {
    display: flex;
    font-size: 1.2rem;
    padding:10px 0;
    border-top: 1px solid rgb(181, 181, 181);
}

.viewed-title {
    padding: 5px 0;
    margin-left: 32px;
}


/* Footer styling */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 249, 256);
}

.footer-email {margin: 30px 0 20px 0;}

#sub-field {
    flex-grow: 2;
    padding: 7px 5px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 3px;
    outline: 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.footer-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

.footer-nav a {
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-nav li {
    padding: 15px 0 0 10px;
    color: rgb(181, 181, 181);
}

.social-media {
    width: 16px;
    padding: 0 5px;
}

.footer-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 30px;
    margin-top: 30px;
}

.help-center {
    font-size: 0.9rem;
    color: rgb(96, 96, 96);
}

.help a {
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
}

.help img {
    width: 16px;
    height: 16px;
    padding-right: 8px;
}

.locality {
    position: relative;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    padding: 8px 10px 8px 30px;
    font-size: 0.9rem;
}

.flag {
    position: absolute;
    width: 20px;
    top: 5px;
    right: 208px;
}

.country, .language {
    border-right: 1px solid rgb(211, 211, 211);
    padding-right: 5px;
}

.terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    border-top: 1px solid rgb(211, 211, 211);
    margin-top: 30px;
    font-size: 0.9rem;
    color: rgb(181, 181, 181);
}

.terms-left .logo {
    color: #f45800;
    padding-left: 30px;
}

.terms-right {
    padding-right: 30px;
    margin-top: 15px;
}

.terms-right a {
    text-decoration: none;
    padding-left: 20px;
    color: rgb(0, 0, 0);
}

